extends layout

block content
    form.was-validated(action="/add-piece" method="POST")
        .form-group
            label.h1 Enter Piece ID's 
            textarea.form-control(type='text', name='title', required='')
        .form-group
            label.h1 Which Set?
            textarea.form-control(type='text', name='body', required='')
        .d-flex.justify-content-center
            button.btn.btn-primary.btn-block(type='submit') Submit
    br