extends layout

block content

    form.was-validated(action="/posts/"+post._id method="POST")
        .form-group
            label.h1 Enter Piece ID's 
            textarea.form-control(type='text', name='title', required='')= post.title
        .form-group
            label.h1 Which Set?
            textarea.form-control(type='text', name='body', required='')= post.whichSet
        .d-flex.justify-content-center
            button.btn.btn-primary.btn-block(type='submit', value='submit') EDIT
    br