doctype html
html
    head
        title LEGO FINDER
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel="stylesheet", href="/style.css")

    body
        nav.navbar.navbar-expand.navbar-light

            a.navbar-brand(href='/') Home

            ul.navbar-nav
                li.nav-item
                    a.nav-link.text-primary(href='/add-set') Add Set

            ul.navbar-nav.form-inline.ml-auto
                li.nav-item
                    form(action="/search" method="POST")
                        input.form-control(type='search',name="search", placeholder='Piece ID', aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search

        .bg-light
            br
            .container
                br
                block content
                br

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
