extends layout

block content
    .list-group
        each a, _ in posts
            br
            a.list-group-item(href="/posts/"+a._id)= a.title
            a.list-group-item.text-danger(href="/posts/"+a._id)= a.whichSet