extends layout

block content

    table.table
        thead
            tr
                th(scope='col') Set
                th(scope='col') ID
                th(scope='col') Quantity
        each a, _ in posts
            tbody
                tr
                    th(scope='row')
                        a.text-danger(href="/sets/"+a.whichSet)= a.setName
                    td #{a.title}
                    td #{a.number}

